{% extends 'page.html' %}

{% block body %}
  <div id="root"></div>
  <div class="logo centered"><img src="{{ url_for('static', filename='img/cern-logo.png') }}"></div>
{% endblock %}

{% block javascript %}
  <script type="text/babel">
    class Weather extends React.Component {
      constructor(props) {
        super(props);

        this.state = {
          data: {},
        };
      }

      componentDidMount() {
        fetch('/api/weather')
          .then(response => response.json())
          .then(data => this.setState({ data: data }));
      }

      render() {
          const { weather_status, location } = this.state.data;

          if (location && weather_status) {
            return <div class="title centered">Today the weather in { location } is { weather_status } !</div>;
          }
          return null;
      }
    }
    ReactDOM.render(
        <Weather />,
        document.getElementById('root')
    );
  </script>
{% endblock %}