.title {
  color: #0052a1;
  font-size: 2em;
  padding: 30px 0;
}
.logo {
  display: inline-block;
}

.logo img {
  max-width: 20%;
}

.centered {
  text-align: center;
  vertical-align: middle;
  width: 100%;
}